{% extends "render/topolayout.html" %}
{% import 'render/macro' as macro %}
{% block headscript %}
    {{ macro.render_chart_dependencies(chart) }}
{% endblock %}

{% block title_and_others %}
    <div class="alert alert-primary" role="alert">
        图表示例
    </div>
{% endblock %}

{% block widget %}
    <div class="container">
        <div class="row">
            <div class="col-auto mr-auto">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">自定义网络结构json文件上传：</label>
                        <input type="file" class="form-control-file" id="diyjsonfile">
                    </div>
                </form>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-success">上传JSON</button>
            </div>

        </div>
        <div class="row">
            <div class="col-sm">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">No.</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Numbers" aria-label="num" aria-describedby="addon-wrapping">
                </div>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-success col-auto">一些按钮</button>
                <button type="button" class="btn btn-success col-auto mr-auto">还有一些按钮</button>
            </div>
        </div><br>
        <div class="row">
            <div class="col-auto mr-auto">
                &nbsp;
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-success">预览效果</button>
                <button type="button" class="btn btn-primary">保存并刷新</button>
            </div>

        </div>
    </div>
<br>
{% endblock %}

{% block graph %}
    {{ macro.render_chart_content(chart) }}
{% endblock %}


{% block messages %}
    <div>
        <p><strong>生成方法：</strong></p>
        <p>详见generate.py文件</p>
        <p><strong>下一步工作：</strong></p>
        <ul>
            <li>格式化json文件</li>
            <li>制作交换机图标和端口</li>

        </ul>
        <p><strong>再下一步工作：</strong></p>
        <ul>
            <li>在页面上编写控件，通过修改json更新拓扑图</li>
            <li>[可选] 在拓扑图的组件上使用tooltip</li>

        </ul>
    </div>

{% endblock %}
