{# 渲染图模板 #}
{% extends "render/topolayout.html" %}
{% import 'render/macro' as macro %}
{% block headscript %}
    {{ macro.render_chart_dependencies(chart) }}
{% endblock %}

{% block title_and_others %}

{% endblock %}

{% block widget %}
    <div class="container">
        <div class="row">
            <div class="col-auto mr-auto">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputTopo">Topo</label>
                        <select name="TopoName" id="inputTopo" class="form-control">
                            <option selected value="topo66.json">topo66</option>
                            <option value="topo.json">topo</option>
                        </select>
                    </div>
                    <input type="range" class="custom-range" min="0" max="50" name="sliderTime">
                    <button type="submit" class="btn btn-primary">更换拓扑</button>
                </form>
            </div>
            <br>
            <div class="col-auto">
                <div class="form-group">

                    <label for="exampleFormControlTextarea1">删除节点之间的连接</label>
                    <input class="form-control" id="node1">
                    <input class="form-control" id="node2">

                </div>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-success" onclick="deleteLink()">预览效果</button>
                <script>
                    deleteLink = function (){
                        const node1 = document.getElementById("node1").value;
                        const node2 = document.getElementById("node2").value;
                        for (let i = 0; i < option_graph1.series[0].links.length; i++) {
                            if (option_graph1.series[0].links[i].source === node1
                                && option_graph1.series[0].links[i].target === node2) {
                                option_graph1.series[0].links.splice(i, 1)
                            }
                            if (option_graph1.series[0].links[i].source === node2
                                && option_graph1.series[0].links[i].target === node1) {
                                option_graph1.series[0].links.splice(i, 1)
                            }
                        }
                        chart_graph1.setOption(option_graph1);
                    }
                </script>
                <button type="button" class="btn btn-primary">保存并刷新</button>
            </div>

        </div>
    </div>
    <br>
{% endblock %}

{% block graph %}
    <div class="alert alert-danger" role="alert">
        仅作展示，后续将删除
    </div>
    {{ macro.render_chart_content(chart) }}
{% endblock %}


{% block messages %}
    <br><br>
    <div class="alert alert-primary" role="alert">
        故障覆盖率
    </div>
    <div class="alert alert-primary" role="alert">
        网络时延
    </div>

{% endblock %}

{% block ExampleisActive %}active{% endblock %}
