<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Satellite SDN</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand user-select-none">Satellite SDN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/topo">Topo</a>
            </li>

        </ul>

    </div>
</nav>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-3 col-xl-2 bd-sidebar">
            <br><br><br><br>
            <div class="list-group">
                <a href="/topoexample" class="list-group-item list-group-item-action {% block ExampleisActive %}{% endblock %}">图表示例</a>
                <a href="/highlevel" class="list-group-item list-group-item-action {% block HighisActive %}{% endblock %}">高空网络</a>
                <a href="/lowlevel" class="list-group-item list-group-item-action {% block LowisActive %}{% endblock %}">低空网络</a>
                <a href="/surfacelevel" class="list-group-item list-group-item-action {% block SurfaceisActive %}{% endblock %}">地面网络</a>
            </div><br>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">网络雷达</a>
                <a href="#" class="list-group-item list-group-item-action">指标变化</a>
            </div>
        </div>
        <div class="col-md-9 col-xl-8 py-md-3 pl-md-5" role="main">
            <br><br><br><br>
            {% block title_and_others %}{% endblock %}
            {% block graph %}{% endblock %}
            {% block messages %}{% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2020 - Satellite SDN</p>
            </footer>
        </div>
        <div class="d-none d-xl-block col-xl-2">
            <br><br><br><br>
            {% block widget %}{% endblock %}
        </div>
    </div>
</div>


<script src="/static/js/bootstrap.js"></script>

</body>
</html>
