<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Satellite SDN</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    
    
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand">Satellite SDN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/topo">Example</a>
            </li>











        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container body-content">
    
    <br><br><br><br>
    
    
    <div class="alert alert-primary" role="alert">
        图表示例
    </div>

    
    
    <div id="graph1" class="chart-container" style="width:1108px; height:500px;"></div>
    <script>
        var chart_graph1 = echarts.init(
            document.getElementById('graph1'), 'white', {renderer: 'canvas'});
        
        var option_graph1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 800,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "1",
                    "symbolSize": 20
                },
                {
                    "name": "2",
                    "symbolSize": 20
                },
                {
                    "name": "3",
                    "symbolSize": 20
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "1",
                    "target": "2",
                    "symbol": [
                        "triangle",
                        "triangle"
                    ],
                    "symbolSize": 20
                },
                {
                    "source": "1",
                    "target": "3"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_graph1.setOption(option_graph1);
        
        
    </script>

    
    <div>
        <p><strong>实现过程：</strong></p>
        <p>首先在app.py加入两个route，一个为topo，用来导航到这个页面
            ，另一个为topograph，用来找到生成的拓扑图（拓扑图是以html形式保存的）</p>
        <p>topo导航到topoExample.html，topograph导航到templates/topos，通过自定义参数
            “graphname”，可以选择不同的拓扑图文件</p>
        <p>本着前后端分离的理念，用来生成拓扑图的json和py放到了独立的文件夹/topo里。生成的拓扑图放到了
            /templates/topos里，同时方便使用render_templates方法</p>
        <p><strong>生成方法：</strong></p>
        <p>详见generate.py文件</p>
        <p><strong>下一步工作：</strong></p>
        <ul>
            <li>格式化json文件</li>
            <li>制作交换机图标和端口</li>

        </ul>
        <p><strong>再下一步工作：</strong></p>
        <ul>
            <li>在页面上编写控件，通过修改json更新拓扑图</li>
            <li>[可选]在拓扑图的组件上使用tooltip</li>

        </ul>
    </div>




    <hr/>
    
    <footer>
        <p>&copy; 2020 - Satellite SDN</p>
    </footer>
</div>

<script src="/static/js/bootstrap.js"></script>


</body>
</html>