{# 渲染图模板 #}
{% extends "render/topolayout.html" %}
{% import 'render/macro' as macro %}
{% block headscript %}
    {{ macro.render_chart_dependencies(chart) }}
{% endblock %}

{% block title_and_others %}

{% endblock %}

{% block widget %}
    <div class="container">
        <div class="col">
            <div class="alert alert-success" role="alert">
                高空网络当前时间: {{ timeNow }}
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {#                    <input id="slideritself" type="range" value="{{ timeNow }}" class="custom-range" min="0" max="50" name="sliderTime"><br>#}
                <input type="range" value="{{ timeNow }}" min="1" max="50" name="sliderTime" oninput="this.nextElementSibling.value = this.value">
                <output>{{ timeNow }}</output>
                <button type="submit" class="btn btn-primary">更改</button>
            </form>
        </div>
        <br>
        <div class="col">
            <div class="alert alert-success" role="alert">
                链接断路模拟
            </div>
            <div class="input-group">
                <input class="form-control" id="node1" placeholder="Node 1">
                <input class="form-control" id="node2" placeholder="Node 2">

            </div>
        </div>
        <br>
        <div class="col">
            <button type="button" class="btn btn-success" onclick="deleteLink()">预览效果</button>
            <script>
                deleteLink = function (){
                    const node1 = document.getElementById("node1").value;
                    const node2 = document.getElementById("node2").value;
                    for (let i = 0; i < option_graph1.series[0].links.length; i++) {
                        if (option_graph1.series[0].links[i].source === node1
                            && option_graph1.series[0].links[i].target === node2) {
                            option_graph1.series[0].links.splice(i, 1)
                        }
                        if (option_graph1.series[0].links[i].source === node2
                            && option_graph1.series[0].links[i].target === node1) {
                            option_graph1.series[0].links.splice(i, 1)
                        }
                    }
                    chart_graph1.setOption(option_graph1);
                }
            </script>
            <button type="button" class="btn btn-primary">保存并刷新</button>
        </div>
    </div>
    <br>
{% endblock %}

{% block graph %}
{#    {{ macro.render_chart_content(chart) }}#}
    <div class="alert alert-primary" role="alert">
        高空网络拓扑图
    </div>
    <div id="graph1" class="chart-container border" style="height:700px;"></div>
    <script>
        var chart_graph1 = echarts.init(
            document.getElementById('graph1'), 'white', {renderer: 'canvas'});

        var option_graph1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbol": "image://static/svgs/highlevel.svg",
            "symbolSize": 50,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 500,
                "edgeLength": 50,
                "gravity": 0.1
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": {{ nodes | safe }},
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": {{ links | safe }}
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Satellite-sdn HighLevel",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_graph1.setOption(option_graph1);
        </script>
    <br>
    <div class="alert alert-primary" role="alert">
        网络时延
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">此处 时延折线图</h1>
        </div>
    </div>
{% endblock %}


{% block messages %}
{% endblock %}

{% block HighisActive %}active{% endblock %}