{# 渲染图模板 #}
{% extends "render/topolayout.html" %}
{% block headscript %}
{% endblock %}

{% block title_and_others %}

{% endblock %}

{% block widget %}
    <script>
        let changes = {
            "deleteLinks": [],
            "deleteNodes": [],
            "newNodes": []
        };
    </script>
    <div class="container">
        <div class="card">
            <div class="card-header">
                链接断路模拟
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" id="node1" placeholder="Node 1">
                    <input class="form-control" id="node2" placeholder="Node 2">

                </div>
                <br>
                <div class="col">
                    <button type="button" class="btn btn-success" onclick="deleteLink()">预览</button>
                    <script>
                        deleteLink = function () {
                            const node1 = document.getElementById("node1").value;
                            const node2 = document.getElementById("node2").value;
                            console.log(node1)
                            console.log(node2)
                            for (let i = 0; i < option_graph1.series[0].links.length; i++){
                                if(
                                    option_graph1.series[0].links[i].source === node1
                                    && option_graph1.series[0].links[i].target === node2
                                ){
                                    port0 = option_graph1.series[0].links[i].ports[0];
                                    port1 = option_graph1.series[0].links[i].ports[1];
                                    for(let everynode = 0; everynode < option_graph1.series[0].data.length; everynode++){
                                        if(option_graph1.series[0].data[everynode]["name"] == node1){
                                            for(let portPosition = 0; portPosition < option_graph1.series[0].data[everynode]["ports"].length; portPosition++){
                                                if (option_graph1.series[0].data[everynode]["ports"][portPosition] == port0){
                                                    option_graph1.series[0].data[everynode]["ports"].splice(portPosition,1);
                                                }
                                            }
                                        }
                                        if(option_graph1.series[0].data[everynode]["name"] == node2){
                                            for(let portPosition = 0; portPosition < option_graph1.series[0].data[everynode]["ports"].length; portPosition++){
                                                if (option_graph1.series[0].data[everynode]["ports"][portPosition] == port1){
                                                    option_graph1.series[0].data[everynode]["ports"].splice(portPosition,1);
                                                }
                                            }
                                        }
                                    }
                                }
                            }




                            for (let i = 0; i < option_graph1.series[0].links.length; i++) {
                                if (option_graph1.series[0].links[i].source === node1
                                    && option_graph1.series[0].links[i].target === node2) {
                                    option_graph1.series[0].links.splice(i, 1)
                                }
                                if (option_graph1.series[0].links[i].source === node2
                                    && option_graph1.series[0].links[i].target === node1) {
                                    option_graph1.series[0].links.splice(i, 1)
                                }
                            }
                            chart_graph1.setOption(option_graph1);
                            document.getElementById("node1").value = "";
                            document.getElementById("node2").value = "";
                            changes.deleteLinks.push({node1,node2})
                        }
                    </script>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                删除节点
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" id="node2delete" placeholder="Node ID">
                </div>
                <br>
                <div class="col">
                    <button type="button" class="btn btn-success" onclick="deleteNode()">预览</button>
                    <script>
                        deleteNode = function () {
                            const node1 = document.getElementById("node2delete").value;
                            for(let everylink = 0;everylink < option_graph1.series[0].links.length; everylink++){
                                if (option_graph1.series[0].links[everylink]["source"] == node1){
                                    target = option_graph1.series[0].links[everylink]["target"];
                                    port = option_graph1.series[0].links[everylink]["ports"][1];
                                    for(let everynode = 0; everynode < option_graph1.series[0].data.length; everynode++){
                                        if(option_graph1.series[0].data[everynode]["name"]==target){
                                            for(let portPosition = 0; portPosition < option_graph1.series[0].data[everynode]["ports"].length; portPosition++){
                                                if (option_graph1.series[0].data[everynode]["ports"][portPosition] == port){
                                                    option_graph1.series[0].data[everynode]["ports"].splice(portPosition,1);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            for (let i = 0; i < option_graph1.series[0].links.length; i++) {
                                if (option_graph1.series[0].links[i].source === node1) {
                                    option_graph1.series[0].links.splice(i, 1)
                                }
                                if (option_graph1.series[0].links[i].target === node1) {
                                    option_graph1.series[0].links.splice(i, 1)
                                }
                            }
                            for (let i = 0; i < option_graph1.series[0].data.length; i++){
                                if(option_graph1.series[0].data[i].name === node1){
                                    option_graph1.series[0].data.splice(i, 1)
                                }
                            }
                            chart_graph1.setOption(option_graph1);
                            changes.deleteNodes.push(node1)
                        }
                    </script>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                连接到节点
            </div>
            <div class="card-body">
                <div class="input-group">
                    <div class="form-group">
                        <label for="newNodeName">新节点名称</label>
                        <input type="text" class="form-control" id="newNodeName" placeholder="New Node Name">
                    </div>
                    <div class="form-group">
                        <label for="dstNodePort">连接到节点</label>
                        <input type="text" class="form-control" id="dstNodeName" placeholder="Destination Node Port">
                    </div>
                    <div class="form-group">

                        <button class="btn btn-success" type="button" id="connect_btn"
                                onclick="connectNewNode()">添加
                        </button>
                        <script>
                            findnewNodePort = function (){
                                let isExist = 0
                                for (let i = 0; i < option_graph1.series[0].data.length; i++) {
                                    if ((option_graph1.series[0].data[i])["name"] == newNodeName){
                                        isExist = 1;
                                    }
                                }
                                if (isExist == 0){
                                    return "1";
                                }
                            }
                            finddstNodePort = function (){
                                for (let i = 0; i < option_graph1.series[0].data.length; i++) {
                                    if ((option_graph1.series[0].data[i])["name"] == dstNodeName){
                                        for(let newport = 1; ; newport++){
                                            if ((option_graph1.series[0].data[i])["ports"].indexOf(newport) == -1){
                                                (option_graph1.series[0].data[i])["ports"].push(newport);
                                                return newport.toString();
                                            }
                                        }
                                    }
                                }
                            }
                            function connectNewNode() {
                                newNodeName = document.getElementById("newNodeName").value;
                                newNodePort = findnewNodePort();
                                dstNodeName = document.getElementById("dstNodeName").value;
                                dstNodePort = finddstNodePort();

                                option_graph1.series[0].data.push(
                                    {"name": newNodeName, "symbol": "image://static/svgs/highlevel_new.svg", "ports": [1]}
                                );
                                option_graph1.series[0].links.push({'source':newNodeName, 'target':dstNodeName,
                                "tooltip": newNodeName+": "+newNodePort+' -- '+dstNodeName+": "+dstNodePort});
                                chart_graph1.setOption(option_graph1);
                                changes.newNodes.push({
                                    "newNodeName": newNodeName,
                                    "newNodePort": newNodePort,
                                    "dstNodeName": dstNodeName,
                                    "dstNodePort": dstNodePort
                                })

                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                SSH连接节点
            </div>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" id="node2connect" placeholder="Node ID">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="connect_btn" onclick="terminalWindow()">连接</button>
                        <script>
                            function terminalWindow(){
                                window.open(
                                    "/terminal",
                                    "Web Terminal",
                                    "height=426,width=850,toolbar=no,menubar=no,location=no"
                                )
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" onclick="showChanges()">提交更改</button>
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">保存所有更改</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="changesShow">

                    </div>
                    <script>
                        showChanges = function (){
                            changes["fileName"] = "topo.json";
                            document.getElementById("changesShow").innerHTML = "<pre>" + JSON.stringify(changes, null, 4) + "</pre>";
                        }
                        submitChanges = function (){
                            axios.post('/save-changes',changes).then().catch(function (error){console.log(error)})
                            $('.toast').toast({delay: 5000});
                            $(".toast").toast("show");
                        }
                    </script>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submitChanges()">确认提交</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                <div class="toast-header">
                    <strong class="mr-auto">🟢 保存更改</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    您的更改已保存。 Your changes have been saved.
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block graph %}

    <div class="alert alert-primary" role="alert">
        低空网络拓扑图
    </div>
    <div id="graph1" class="chart-container border" style="height:700px;"></div>
    <script>
        var chart_graph1 = echarts.init(
            document.getElementById('graph1'), 'white', {renderer: 'canvas'});

        var option_graph1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbol": "image://static/svgs/lowlevel.svg",
            "symbolSize": 50,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 500,
                "edgeLength": 50,
                "gravity": 0.1
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": {{ nodes | safe }},
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": {{ links | safe }}
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Satellite-sdn LowLevel",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_graph1.setOption(option_graph1);


    </script>
    <br>
    <div class="alert alert-primary" role="alert">
        网络时延
    </div>
    <div id="timeDelayShow" class="chart-container border" style="height: 400px">
        <script>
            function randomData() {
                now = new Date(+now + oneDay);
                value = (0.11+ Math.random()*0.02)*1000;
                return {
                    name: now.toString(),
                    value: [
                        [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
                        Math.round(value)
                    ]
                };
            }

            var data = [];
            var now = new Date(1997, 9, 3);
            var oneDay = 24 * 3600 * 1000;
            var value = 0.11+ Math.random()*0.02;
            for (var i = 0; i < 20; i++) {
                data.push(randomData());
            }

            var time_graph2 = echarts.init(document.getElementById("timeDelayShow"));
            var option_graph2 = {
                xAxis: {
                    type: 'time',
                    splitLine: {
                        show: false
                    }
                },
                yAxis: {
                    type: 'value',
                    name: 't/ms',
                    min: 'dataMin',
                    max: 'dataMax',
                    boundaryGap: [0, "100%"],
                    splitLine: {
                        show: false
                    }
                },
                series: [{
                    name: '模拟数据',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    data: data,
                    color: "#2755A5",
                    smooth: true
                }]
            };

            setInterval(function () {

                data.shift();
                data.push(randomData());
                time_graph2.setOption(option_graph2);
            }, 1000);

        </script>

    </div>
    <br>
    <div class="alert alert-primary" role="alert">
        故障覆盖率
    </div>
    <div id="errorCoverRate" class="chart-container border" style="height: 400px">
        <script>
            var error_graph3 = document.getElementById('errorCoverRate');
            var myChart = echarts.init(error_graph3);
            var option;

            option = {
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '5%',
                    left: 'center'
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            formatter: ""
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '40',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: [
                            {
                                value: 1048,
                                name: '运行正常',
                                itemStyle: {
                                    color: "#91cc75"
                                }
                            },
                            {
                                value: 23,
                                name:"高延迟",
                                itemStyle: {
                                    color: "#fac858"
                                }
                            },
                            {
                                value: 9,
                                name: '故障',
                                itemStyle: {
                                    color: "#ff7070"
                                }
                            }
                        ]

                    }
                ]
            };

            option && myChart.setOption(option);
        </script>
    </div>
{% endblock %}



{% block messages %}
{% endblock %}

{% block LowisActive %}active{% endblock %}